.card{
   margin-top: 30px;
   width: 3in !important;
}

h5{
   margin-top: 3in;
}

/* .list-group a, h1, h2, h3, h4, h5, h6, p , small{
   color : black !important;
} */


 
 .modal-class, .modal-address {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(77, 77, 77, .7);
   transition: all .4s;
 }
 
 .modal-class:target {
   visibility: visible;
   opacity: 1;
 }
 
 .modal__content {
   border-radius: 4px;
   position: relative;
   width: 500px;
   max-width: 90%;
   background: #fff;
   padding: 1em 2em;
 }
 
 .modal__footer {
   text-align: right;
 }
 
 .modal__footer a{
   color: #585858;
 }
 .modal__footer i{
   color: #d02d2c;
 }

 .modal__close {
    cursor: pointer;
    font-size: 30px;
   position: absolute;
   top: 10px;
   right: 10px;
   color: #585858;
   text-decoration: none;
 }


 /* list  address*/
 ul {
  list-style-type: none;
 }
 li.address-list {
    cursor: pointer;
    margin: 8px;
    padding: 12px;
    width: 80%;
    border-bottom: 1px solid #c7c7c7;
 }


 .active-address{
   color:#fff;
   background: #1e272e;
 }

 #finalCheckout{
   font-size: 18px;
   padding: 8px;
   cursor: pointer;
 }