// Edit Option
.editOption {
  background: #FCC07A;
}

ion-item.item-wrap{
  --border-radius: 10px;
  --background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .time-input-wrapper{
    width: 90%;
    --background: none;
  }
}


ion-toggle {
    --background-checked:#8eb6ba;
    --handle-background-checked: #05575F;
  }

  ion-icon{
    margin-right: 15px;
  }



  ion-item{
    padding: 3px 12px;
  }

  ion-item-option, ion-item-sliding{
    margin: 3px 0;
  
  }

  ion-item-options{
    padding: 3px 0 3px 12px;

    border-radius: 10px
  }


  ion-item-sliding.item-sliding-active-slide {
    .item-wrap, .time-input-wrapper{
      --background: #05575F;
    }
    ion-item{
      ion-label , .sc-ion-label-md-s>p{
        color : #fff !important; 
      }
       
    }

    ion-toggle {
    --background-checked:#fff;
    --handle-background-checked: #8eb6ba;
    }
  }