<ion-header class="ion-no-border landing">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="landing">
  <h3 class="signin-label">Create an account</h3>

  <ion-card>
    <h4>Welcome!</h4>
    <p>Hello there! Create an account to continue</p>

    <form>
      <ion-label position="stacked">Name: </ion-label>
      <ion-input placeholder="Enter your name"></ion-input>
      <br>

      <ion-label position="stacked">Email: </ion-label>
      <ion-input placeholder="Enter your email address"></ion-input>
      <br>

      <ion-label position="stacked">Password: </ion-label>
      <ion-input type="password" placeholder="Enter your password"></ion-input>
      <br>

      <ion-label position="stacked">Confirm Password: </ion-label>
      <ion-input type="password" placeholder="Retype your password"></ion-input>
      <br>

      <ion-button size="block" [routerLink]="['/login']">Sign up</ion-button>

      <p class="ion-text-center">Already have an account? <a [routerLink]="['/login']">Sign In</a></p>

    </form>
  </ion-card>
</ion-content>
