<ion-header class="ion-no-border landing">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="landing">
  <h3 class="signin-label">Create an account</h3>

  <ion-card>
    <h4>Welcome!</h4>
    <p>Hello there! Create an account to continue</p>

    <form [formGroup]="form">
      <div class="input-container">
        <ion-label>Name </ion-label>
        <ion-item>
          <ion-input formControlName="name" type="text" placeholder="Enter your name" clearInput="true">
          </ion-input>
        </ion-item>

        <app-error-message [field]="$any(form.get('name'))" error="required" message="Name is empty">
        </app-error-message>

      </div>

      <div class="input-container">
        <ion-label>Email </ion-label>
        <ion-item>
          <ion-input formControlName="email" type="email" placeholder="Enter your email address" clearInput="true">
          </ion-input>
        </ion-item>

        <app-error-message [field]="$any(form.get('email'))" error="required" message="Email is empty"></app-error-message>
        <app-error-message [field]="$any(form.get('email'))" error="email" message="Email is invalid"></app-error-message>
      </div>

      <div class="input-container">
        <ion-label>Password </ion-label>
        <ion-item>
          <app-show-hide-password>
            <ion-input clearInput="true" formControlName="password" type="password" placeholder="Enter your password">
            </ion-input>
          </app-show-hide-password>
       
        </ion-item>

        <app-error-message [field]="$any(form.get('password'))" error="required" message="Password is empty"> </app-error-message>
        <app-error-message [field]="$any(form.get('password'))" error="minlength" message="Password is too short"> </app-error-message>
      </div>

      <div class="input-container">
        <ion-label>Password </ion-label>
        <ion-item>
          <app-show-hide-password>
            <ion-input clearInput="true" formControlName="password_confirmation" type="password" placeholder="Retype your password">
            </ion-input>
          </app-show-hide-password>
         
        </ion-item>
        <app-error-message [field]="$any(form.get('password_confirmation'))" error="required" message="Password is empty"> </app-error-message>
        <app-error-message [field]="$any(form.get('password_confirmation'))" error="isntMatching" message="Password do not match"> </app-error-message>
      </div>


      <ion-button class="button-sign" type="submit" [disabled]="!form.valid" size="block" (click)="signup()">Sign up</ion-button>

      <p class="ion-text-center">Already have an account? <a [routerLink]="['/login']">Sign In</a></p>
      <br>
      <br>
    </form>
  </ion-card>
</ion-content>
