ion-toolbar{
   --background:#05575F;
   --color: #FCC07A ;
}



h1{
   text-align: center;
}

img{
   height: 120px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

img.icons{
   height: 65px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 7px;
}

ion-card{
   border: .3px solid black;
   height: 1.9in;
}

ion-card-title{
   font-size: 19px;
   text-align: center;  
   color: #FD8B3F; 
   text-decoration: underline;
}

ion-card-subtitle{
   font-size: 10px;
   text-align: center;
   color: #FD8B3F;
   margin-top: 5px;
}

// Second Segment css
h1.second, h3.second{
   color: #05575F;
}

h1.second{
   text-decoration: underline;
}

h3.second{
   text-align: center;
}

h5, p{
   text-align: center;
   margin: 0;
   padding: 0;
   color: #05575F;
}

p{
   margin-top: 5px;
   font-size: 14px;
}

h5{
   font-weight: bold;
   font-size: 15px;
}
