 ion-card{
     --background:#05575F;
     width: 90%;
     text-align: center;

    } 
     .label-to-center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 6px;
        ion-label{
            color:#fff;
            font-size: 20px;
        }
    }
ion-content{
    --background:#dff2ef;
}

