
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- BURGER -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- More -->
    <ion-buttons slot="primary">
      <ion-button id="trigger-popover">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>

      <ion-popover trigger="trigger-popover">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [routerLink]="['/schedules/all-schedules']" (click)="DismissClick()">All Schedules</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </ion-buttons>
    <ion-title>Schedules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="label-to-center">
    <ion-card>
      <ion-card-content>
        <ion-label>Schedules for Today</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <app-schedules-list 
    *ngFor="let res of todaySchedules;let indexOfelement=index;" 
    index={{indexOfelement}} 
    toggle={{res.toggle}}  
    id={{res.id}} 
    title={{res.title}} 
    time={{formatDate(res.time)}}>
  </app-schedules-list>
 
  <br>
  <br>
  <br>
  <br>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/schedules/add-schedule']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

