

// Choose Days
.datebutton {
  font-size: 13px;
  --background: rgba(255, 255, 255, 0.8);
  --border: #333 1px solid;
  --border-radius: 50%;
  color: #05575F;
  width: 42px;
  height: 42px;
  position: relative;

  ion-badge {
    position: absolute;
    top: -10px;
    right: -24px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    --padding-start : 6.39px;
    // display: none;
  }
}

ion-chip{
  margin-bottom: 6px;

}
//make ion-badge visible
ion-button::part(native) {
    overflow: visible !important;
  }
//display ion badge
.badge-display-block{
  display: block !important;
}

.datebuttonActive {
  --background: #05575F;
  color: #fff;
}

ion-col {
  flex-grow: 0;
}



// Choose Time
.time-input {
  width: 100%;
  --background: transparent;

  ion-label {
    font-size: 36px;
  }
}

ion-datetime{
  --ion-color-base: #FCC07A !important;
  // --background-rgb: red;
}

.time-input-wrapper {
  margin: 20px 20px 12px 20px;
  width: 90%;

  --background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);


  --border-radius: 15px;

  ion-toggle {
    --background-checked: #8eb6ba;
    --handle-background-checked: #05575F;
  }
}

// notification
.notification{
  width: 90%;
  margin: auto;
  --color : #fff;
  --background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  ion-select.select-expanded::part(icon){
    color :#FCC07A !important;
  
  }  
}

.notification.item-has-focus {
  --highlight-background:#FCC07A;
}

// Input Fields
ion-card.inputs {
  box-shadow: none;
  border : 0;
  border-color: #7070703e;
  border-style: solid;
  --background: none;

  ion-item {
  --background: #fafafa;
    ion-label {
      --color: #FCC07A;
      --color-focused: #FCC07A;
    }

    .label-floating {
      color: #FCC07A;
    }

    --highlight-color-focused: #FCC07A;
  }
}

// Vibrate Item

ion-item.checkbox {
  --background : none;
  color : #fff;

  ion-checkbox {
    --border-color-checked: #FCC07A;
    --background-checked: #FCC07A;
  }

  ion-label {
    padding: 0;
    font-size: 18px;
    border-left: 0;
    border-right: 0;
    border-top: 1px;
    border-bottom: 1px;
    border-color: #7070703d;
    border-style: solid;
  }
}

// Buttons Delete & Save
.buttons-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;

  ion-button {
    flex-grow: 1;
    margin: 12px;
    --background: #fafafa;
  }

  ion-button:active {
    --background: #f1f1f1;
  }

  .delete {

    ion-icon,
    ion-label {
      color: #742020;
    }
  }

  .save {

    ion-icon,
    ion-label {
      color: #FCC07A;
    }
  }
}
