ion-toolbar{
    --background:#05575F ;
    --color: #FCC07A ;
}

// Choose Days
.datebutton{
    font-size: 13px;
    --background:#fff;
    --border:#333 1px solid;
    --border-radius: 50%;
    color:#05575F;
    width: 42px;
    height: 42px;
}
.datebuttonActive{
    --background:#05575F;
    color:#fff;
}
ion-col{
    flex-grow: 0;
}


// Choose Time
.time-input{
    width: 100%;
    --background: #fafafa;
    
    ion-label{
        font-size: 36px;
    }

}

.time-input-wrapper{
    margin: 20px;
    width: 90%;
    --background: #fafafa;
    --border-radius: 15px;

    ion-toggle {
        --background-checked:#8eb6ba;
        --handle-background-checked: #05575F;
      }
}

// Input Fields
ion-card.inputs{
    box-shadow: none;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 0px;
    border-color: #7070703e;
    border-style: solid;
   
   
    ion-item{
        ion-label{
            --color:#FCC07A;
            --color-focused : #FCC07A;
        }
        .label-floating{
            color: #FCC07A;
        }
        --highlight-color-focused: #FCC07A;
    }
}

// Vibrate Item

ion-item.vibrate{
    ion-checkbox{
        --border-color-checked: #05575F;
        --background-checked: #05575F;
    }
    ion-label{
        padding: 10px 0;
        font-size: 24px;
        border-left:0;
        border-right: 0;
        border-top: 1px;
        border-bottom: 1px;
        border-color: #7070703d;
        border-style: solid;
    }
}

// Buttons Delete & Save
.buttons-flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;

    ion-button{
        flex-grow: 1;
        margin: 12px;   
        --background: #fafafa;
    }
    ion-button:active{
        --background: #f1f1f1;
    }
    .delete{
        ion-icon, ion-label{
            color : #742020;
        }
    }

    .save{
        ion-icon, ion-label{
            color : #FCC07A;
        }
    }
}

