<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Time Input -->
  <ion-item class="time-input-wrapper"  lines="none">
    <ion-item lines="none" button="true" id="open-date-input" class="time-input" >
      <ion-label>{{ dateValue2 }}</ion-label>
 
      <ion-popover trigger="open-date-input" show-backdrop="false">
        <ng-template>
          <ion-datetime
            hour-cycle="h12" locale="zh-HK"
            #popoverTime 
            presentation="time"
            (ionChange)="timeChange(popoverTime.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-toggle [(ngModel)]="taskStatus" (ionChange)="taskStatusChange()" slot="end"></ion-toggle>
  </ion-item>
   
  <!-- Notify Before -->

  <ion-item class="notification">
    <ion-label >Notify Before</ion-label>
    <ion-select [(ngModel)]="notify" (ionChange)="notifyOptions();" value="{{notify}}" interface="action-sheet">
      <ion-select-option value="10">10 minutes</ion-select-option>
      <ion-select-option value="20">20 minutes</ion-select-option>
      <ion-select-option value="30">30 minutes</ion-select-option>
      <ion-select-option value="40">40 minutes</ion-select-option>
      <ion-select-option value="50">50 minutes</ion-select-option>
      <ion-select-option value="60">60 minutes</ion-select-option>
    </ion-select>
  </ion-item>

    <!-- Toggle Buttons Days -->
    <ion-grid>
        <ion-chip *ngIf="disableSaveButtonIfConflictExist" color="danger">
          <ion-icon name="alert-circle"></ion-icon>
          <ion-label>There is a conflict on schedule set</ion-label>
        </ion-chip>

      <ion-row class="ion-justify-content-start ion-align-items-center">
        <ion-col *ngFor="let day of days">
          <ion-button (click)="toggleDay(day)"
          [ngClass]="{'datebuttonActive' : day.toggle == true}"
          [disabled]="update_flag == true ? true : false"
           class="datebutton">
           {{day.day}}

           <ion-badge *ngIf="day.badge"  color="danger">!</ion-badge>
          </ion-button>
        </ion-col>

      </ion-row>
     
    </ion-grid>
  
  
    <!-- Input -->
    <form  [formGroup]="form">
      <ion-card class="inputs">
        <ion-item>
          <ion-label position="floating"><ion-icon name="document-text"></ion-icon> Title</ion-label>
          <ion-input formControlName="title" required="true" spellcheck="true" clear-input="true"></ion-input>
        </ion-item>  
        <app-error-message [field]="$any(form.get('title'))" error="required" message="Title cannot be empty">
        </app-error-message>
      </ion-card>
    
      <ion-card class="inputs">
        <ion-item>
          <ion-label position="floating"><ion-icon name="document-text"></ion-icon> Description</ion-label>
          <ion-textarea formControlName="description" rows="7" spellcheck="true" clear-input="true"></ion-textarea>
        </ion-item>
        <app-error-message [field]="$any(form.get('description'))" error="required" message="Description cannot be empty">
        </app-error-message>
      </ion-card>
    </form>
   
 
<!-- Checkbox -->
    <ion-item class="checkbox" lines="none">
      <ion-label>Vibrate</ion-label>
      <ion-checkbox [(ngModel)]="vibrateStatus" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item class="checkbox" lines="none">
      <ion-label>High Priority Task</ion-label>
      <ion-checkbox [(ngModel)]="priority" slot="start"></ion-checkbox>
    </ion-item>

<!-- Buttons -->
  <div class="buttons-flex">
    <ion-button  class="delete">
      <ion-icon slot="end" name="close-circle"></ion-icon>
      <ion-label>Delete</ion-label> 
    </ion-button>

    <ion-button [disabled]="dayCounter == 0 || !form.valid ? true : false  || disableSaveButtonIfConflictExist" class="save" (click)="save()">
      <ion-icon slot="end" name="checkmark-circle"></ion-icon>
      <ion-label>Save</ion-label> 
    </ion-button>
  </div>
 
  </ion-content>
  