<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="schedules"></ion-back-button>
    </ion-buttons>
    <ion-title>All Schedules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Custom Icon -->
  <ion-accordion-group>


    <ion-accordion (click)="getScheduleByDay(item)"
     *ngFor="let item of days"
      value={{item}} toggle-icon="chevron-down" >
      <ion-item slot="header">
        <ion-label>{{item}}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <app-schedules-list 
          *ngFor="let res of temporaryScheduleHolder[dayIndex].result ;let indexOfelement=index; trackBy:trackById" 
          index={{indexOfelement}}
          dayIndex = {{dayIndex}}
          toggle={{res.toggle}} 
          id={{res.id}} 
          title={{res.title}} 
          time={{formatDate(res.time)}}>
        </app-schedules-list>
      </ion-list>
    </ion-accordion>



  </ion-accordion-group>

</ion-content>
