<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="info()">
        <ion-icon style="font-size: 24px;" name="information-circle"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <!-- <ion-button (click)="basic()" expand="block" fill="clear" shape="round">
          Basic
        </ion-button>
        <ion-button (click)="advance()" expand="block" fill="clear" shape="round">
          advabce
        </ion-button> -->
        <ion-label>{{cloud}}</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>{{temperature}}</ion-label>
      </ion-col>
      <ion-col class="location" size="4">
        <ion-label>
          <ion-icon name="location-sharp"></ion-icon>
          {{city}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="weather" size="12">
        <ion-thumbnail >
          <ion-img src="{{icon}}"></ion-img>
        </ion-thumbnail>
        <div class="glow-icon"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="clock" size="12">
        <div class="flex-text">
          <h1>{{currentTime}}</h1>
          <h4>{{timeMeridiem}}</h4>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" class="task">
        <div class="card">
          <div class="header">
            <h1>{{title}}</h1>
              <ion-label color="danger" *ngIf="priority == 'true'">High Prioroty Task</ion-label>
          </div>

          <div class="content">
            {{description}}
          </div>

          <div class="footer">
            {{time}}, {{day}}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <br>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/schedules/add-schedule']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
