<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- WEATHER -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="weathercard">
          <ion-card-content>
            <!-- <h1 class="wtitle">Weather Update</h1> -->
            <ion-row class="weather">
              <ion-col>
                <img class="weathericon" src="/assets/thunderstorm.png">
              </ion-col>
              <ion-col class="weatherlabels">
                <h1 class="weathertemp">24°C</h1>
                <h5>Thunderstorm</h5>
                <h5>Olongapo City</h5>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

   <!-- TIME -->
  <ion-grid>
    <ion-row class="timerow">
      <ion-col class="time" size="3">
        8
      </ion-col>
      <ion-col class="colon" size="1">
        :
      </ion-col>
      <ion-col class="time" size="3">
        51
      </ion-col>
      <ion-col class="time" size="3">
        AM
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- SCHED -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="schedule">
          <ion-card-header>
            <h4 class="schedtitle">Latest Schedule</h4>
            <ion-grid>
              <ion-row>
                <!-- <ion-col>
                  <img class="task" src="/assets/task.png">
                </ion-col> -->
                <ion-col>
                  <ion-card-title class="timesched" style="text-align:right;color:#fff">9:00 AM</ion-card-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          
          <ion-card-content>
            <h3 class="title">Watch Anime</h3>
            <h4 class="description">Will Watch bla bla bla bla</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/add-schedule">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>