ion-toolbar{
    --background:#05575F ;
    --color: #FCC07A ;
}

.time{
    background: #05575F ;
    font-size: 40px;
    color:#fff;
    margin:5px;
    padding:20px;
    text-align: center;
    border-radius: 10px;
}

h1.wtitle{
    text-decoration: underline;
}

h1.colon{
    font-size: 45px;
    color: #05575F;
}

ion-card.weathercard{
    height: 126px;
}

img.weathericon{
    height: 63px;
    float: left;
    margin-left: .6in;
}

h3.weatherlabels, .weathertemp{
    float: right;
    margin-right: .6in;
}

.weathertemp{
    margin-top: .2in;
    margin-right: .9in;
}

.weather{
    text-align: center;
    
}
.schedule{
    background: #05575F ;
    border-radius: 10px;
    padding: 10px;
}

.title{
    color:#fff;
    text-align:center;
    font-size: 30px;
}
hr{
    color: #fff;
    height:5px;
    width:90%;
}
.description{
    color:#fff;
    text-align:center;
    font-size: 20px;
}

ion-fab-button{
    --background:#05575F;
}

.task{
    height:30px;
    width:30px;
}