

ion-fab {
  transform: translateZ(0)
}


ion-grid {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  font-family: 'century-gothic-bold';
  text-align: center;

  ion-col.location {
    ion-label {
      ion-icon {
        color: #FCC07A;
      }
    }
  }

  ion-col.weather {
    position: relative;
    display: flex;
    justify-content: center;

    .glow-icon {
      z-index: 10;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      box-shadow:
        0 0 30px 12px #05575F,
        /* inner white */
        0 0 44px 18px #9CC1C5,
        /* middle magenta */
        0 0 54px 28px #fff;
      /* outer cyan */
    }

    fa-icon {
      z-index: 20;
      font-size: 32px;
      color: #fff;

    }
  }


  ion-col.clock {
      margin-top: -10px;
    .flex-text {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-family: 'century-gothic-bold';

      h1 {
        font-size: 40px;
      }

      h4 {
        margin-top: 20px;
        margin-left: 6px;
        font-size: 16px;
      }
    }
  }

  ion-col.task {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    .card {
    padding:6px  16px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.29);

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    }

    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;

        h1{
            font-family: 'century-gothic-bold';
            font-size: 20px;
            margin-right: 14px;
        }
        ion-label{
            background-color: rgb(108 18 18 / 14%);
            border-radius: 20px;
            padding: 5px;
        }
    }

    .content{
        margin-top: 16px;
        font-family: 'century-gothic-regular';
        font-size: 16px;
        text-align: justify;
    }

    .footer{
        width: 100%;
        margin-top: 16px;
        font-family: 'century-gothic-italic';
        font-size: 16px;
        text-align: left;
    }
  }
}
