<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>

            <div class="avatar-header">
              <div class="profile">
          
                <ion-thumbnail >
                  <ion-img src="{{imageUrl}}"></ion-img>
                </ion-thumbnail>

                <ion-button  color="dark" class="edit" (click)="picture()" expand="block" fill="clear" shape="round">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>

              </div>
              
              <div class="avatar-text">
                <p class="name" *ngIf="users.decodedToken.name != undefined">{{users.decodedToken.name}}</p>
                <p>{{users.decodedToken.email}}</p>
              </div>
            </div>
                
          </ion-list-header>


          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item st routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-button (click)="logout()" class="logout">
            <ion-icon slot="start" name="log-out"></ion-icon>
            Log out
          </ion-button>
        </ion-list>

        <div class="footer">
          <p>Thaien Devs © 2022</p>
        </div>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
