<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-text>
    <h4>{{title}}</h4>
  </ion-text>

  <ion-item>
    <ion-label>Time: </ion-label>
    <ion-input readonly value="{{time}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Days: </ion-label>
    <ion-input readonly value="{{day}}"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>List Description: </ion-label>
    <ion-textarea readonly value="{{description}}"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Ringtone: </ion-label>
    <ion-input readonly value="{{ringtone}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>High Priority</ion-label>
    <ion-toggle [checked]="priority"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Vibrate</ion-label>
    <ion-toggle  [checked]="vibrate"></ion-toggle>
  </ion-item>

</ion-content>