<ion-header class="ion-no-border landing">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="landing">
    <h3 class="signin-label">Sign in</h3>

    <ion-card>
      <h4>Welcome Back!</h4>
      <p>Hello there! Sign In to continue</p>
      
      <form>
      
          <ion-label>Email </ion-label>
          <ion-input placeholder="Enter your email address"></ion-input>
          <br>

          <ion-label>Password </ion-label>
          <ion-input type="password" placeholder="Enter your password"></ion-input>
          <br>

    
    
          <ion-button size="block" [routerLink]="['/home']">Sign In</ion-button>
          <p class="ion-text-center">Don't have an account? <a [routerLink]="['/register']">Create one!</a></p>

      </form>
    </ion-card>

</ion-content>
