<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
        <ion-row>
          <ion-col class="text-center">
            Mon
          </ion-col>
          <ion-col class="text-center">
            Tue
          </ion-col>
          <ion-col class="text-center">
            Wed
          </ion-col>
          <ion-col class="text-center">
            Thu
          </ion-col>
          <ion-col class="text-center">
            Fri
          </ion-col>
          <ion-col class="text-center">
            Sat
          </ion-col>
          <ion-col class="text-center">
            Sun
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
